.fonts {
    font-family: "Roboto", sans-serif;
}

.header-bg {
    background-color: #2D3336;
}

.blue-bg {
    background-color: #00A2ED;
}

.transparent-bg {
    background-color: transparent;
}

.fixedWidthHeader {
    max-width: 92px;
}

.content-bg {
    background: url(Components/images/main-img.png) center center no-repeat;
    background-size: cover;
    padding: 145px 0 145px 0;
}

.button {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    background-color: #00A2ED;
    color: #fff;
}

.text-color {
    color: white;
}

.line::before {
    content: "";
    display: block;
    width: 13px;
    height: 3px;
    background-color: #00A2ED;
    margin-top: 9px;
    margin-right: 16px;
}

.bg-grey{
    background: #E8E8E8;
}

.h3 {
    font-size: 48px;
    margin-bottom: 42px;
}